@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme{
    background-color: black;    
    color: rgb(255, 255, 255);
}

.dark-theme{
background-color: white;
color: rgb(0, 0, 0);
}