@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: rgb(3, 0, 23);
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    padding: 1.3rem;
    background-color: #fff;
    border-radius: 12px;
    height: auto;
    /* justify-content: center; */
}

.table-auto {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: auto;
    padding: 2.3rem;
}

.container,
thead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
}

thead {
    background-color: aqua;
}

.container tr {
    padding: 1.0rem;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
    width: 50%;
}


/* Styling for the search button */

.search-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


/* Hover effect for the search button */

.search-button:hover {
    background-color: #45a049;
}

img {
    width: 20%;
    border-radius: 12px;
    max-width: 400px;
}

@media screen and (max-width:720px) {
    img {
        width: 30%;
        border-radius: 12px;
        max-width: 400px;
    }
    .container {
        max-width: 900px;
        margin: 0px auto;
        padding: 1.1rem;
        border-radius: 12px;
        display: block;
        height: auto;
        /* justify-content: center; */
    }
    .table-auto {
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: auto;
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 1.3rem;
    }
    .container,
    thead {
        text-align: center;
        justify-content: center;
    }
    thead {
        background-color: rgb(0, 21, 21);
        color: white;
    }
}