*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .container{
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    padding: 1.3rem;
    color: black;
}

.container button{
    cursor: pointer;
}