* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: linear-gradient(#000 50%, #ffb92a 40%);
}

.header {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1.2rem;
    padding: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .boxes {
    max-width: 800px;
    height: auto;
    width: 90vw;
    padding: 1.1rem;
    background-color: rgb(16, 19, 21);
    border-radius: 12px;
    top: 16%;
    left: 30%;
    position: absolute;
}

.container .boxes {
    display: grid;
    column-gap: 0.3em;
    border-radius: 18px;
}

.container .boxes button {
    cursor: pointer;
    background-color: #ffb92a;
}

.search-bar button {
    max-width: 800px;
    width: 100%;
}

.container .boxes .search-bar input,
.container .boxes .search-bar button {
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#result {
    max-width: 800px;
    height: auto;
    display: none;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#result img {
    max-width: 24rem;
    height: 25vh;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2fr);
    display: inline-flex;
    row-gap: 25em;
    column-gap: 15em;
}